<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>

    <title>Profile page</title>
  </head>
  <body class="gap-5">
    <h1>Hi user!</h1>
    <form class="w-100" action="./logout" method="post">
      <button type="submit" class="w-100 btn btn-primary">Log out</button>
    </form>
  </body>
</html>
